/* About Me Section */
.about-me-section {
    padding: 9.6rem 0;
    text-align: center;
}

.about-me-section__heading {
    text-align: left;
}

.about-me-card {
    width: 100%;
    color: var(--color-text);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    overflow: hidden;
}

.about-me-card__img {
    width: 100%;
    top: 500px;
}

.about-me-card__content {
    background-color: var(--color-card-bg);
    padding: 2.4rem 3.6rem 3.6rem 3.6rem;
}

.about-me-card__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.about-me-card__text {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.6;
}

.about-me-img {
    position: relative;
    width: 75%;
    height: 75%;
}

.about-me-img__arrow {
    width: 100%;
    height: 100%;
}

.about-me-img__arrow-first {
    position: absolute;
    top: 80%;
    left: 43%;
    transform: translate(-50%, -50%);
}

.about-me-img__arrow-second {
    position: absolute;
    top: 80%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.about-me-img__arrow-third {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 150%;
    z-index: 1;
}

.about-me-img__logo {
    height: 15rem;
    position: absolute;
    z-index: 2;
    left: 80%;
    top: 25%;
}
