/* Calendar section */
.calendar-section {
    padding: 3.2rem 0;
    text-align: center;
    width: 100%;

    border: 3px solid black;
}
.calendar-component {
    max-width: 50%;
    margin: 0 auto;
    padding: 2rem;
    font-size: 2rem;
    text-transform: uppercase;

    border: 3px solid black;
}

.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    margin-bottom: 1rem;

    border: 3px solid black;
}

.calendar-button {
    background-color: transparent;
    border: none;
    box-shadow: none !important;
    cursor: pointer;
}

.calendar-button ion-icon {
    font-size: 3rem;
}

.calendar-button--previous:hover,
.calendar-button--previous:focus {
    transform: translateX(-1rem);
    transition: 0.6s ease;
}

.calendar-button--next:hover,
.calendar-button--next:focus {
    transform: translateX(1rem);
    transition: 0.6s ease;
}

.calendar-grid {
    width: 100%;
    border: 3px solid black;
    padding: 2rem;
}

.calendar-weekdays {
    width: 100%;
    border: 3px solid black;
}

.calendar-days {
    width: 100%;
    border: 3px solid black;
}
