/* Calendar section */
.calendar-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 3.2rem 0;
    text-align: center;
    width: 100%;
    margin: 3.2rem 0;
}

.heading-secondary,
.section-calendar__description {
    text-align: center;
}

.section-calendar__description {
    font-size: 1.4rem;
}

.calendar-component {
    max-width: 50%;
    margin: 3.2rem auto;
    padding: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--color-text);
    /* background-color: #9572ac; */

    background-color: var(--color-card-bg);
}

.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    margin-bottom: 1rem;
}

.calendar-button {
    background-color: transparent;
    border: none;
    box-shadow: none !important;
    cursor: pointer;
}

.calendar-button ion-icon {
    font-size: 3rem;
    color: var(--color-text);
}

.calendar-button--previous:hover,
.calendar-button--previous:focus {
    transform: translateX(-1rem);
    transition: 0.6s ease;
}

.calendar-button--next:hover,
.calendar-button--next:focus {
    transform: translateX(1rem);
    transition: 0.6s ease;
}

.calendar-weekdays,
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}

.calendar-weekday,
.calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.calendar-weekdays {
    font-size: 1rem;
    padding: 1rem;
}

.calendar-weekday {
    height: 3rem;
    border-bottom: 1px solid var(--color-text);
    font-weight: 700;
}

.calendar-days {
    font-size: 1.6rem;
    padding: 1rem;
}

.calendar-day {
    height: 5rem;
    font-weight: 700;

    border: 1px solid var(--color-text);
}

.calendar-day--today {
    border: 3px solid var(--color-text);
}

.calendar-weekday--weekend {
    color: rgb(249, 59, 182);
    border-bottom: 1px solid rgb(249, 59, 182);
}

.calendar-day--weekend {
    background-color: rgb(249, 59, 182);
    color: #000;
}

.calendar-day--travel {
    background-color: hsla(279, 83%, 70%, 1);
    color: #000;
}

.calendar-day--other-month {
    opacity: 0.4;
}
