.footer-section {
    padding: 3.2rem 0;
    width: 100%;
    margin: 3.2rem auto;
}

.footer_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
}

.footer_header__text {
    font-size: 1.4rem;
    text-align: center !important;
    color: var(--color-light-text);
    line-height: 1.4;
    margin: 2.4rem 0;
}

.footer__logo {
    width: 20rem;
    height: auto;
}

.footer__text {
    display: flex;
    flex-direction: column;
}

.footer__text-icon {
    width: 3rem;
}

.footer__item {
    margin-bottom: 1.6rem;
    display: inline-block;
}

.social-network-logo {
    width: 3rem;
}
