.footer-section {
    padding: 3.2rem 0 0 0; /* Убираем padding снизу */
    width: 100%;
    margin: 3.2rem auto 0 auto; /* Убираем нижний margin */
}

.footer_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
}

.footer__item {
    margin-bottom: 1.6rem;
    display: inline-block;
}

.footer_header .heading-secondary {
    margin-bottom: 0;
}

.footer_header__text {
    font-size: 1.4rem;
    color: var(--color-light-text);
    line-height: 1.4;
    margin: 0 0 2.4rem 0;
}

.footer-img {
    text-align: center;
}

.footer__logo {
    width: 20rem;
    height: auto;
}

.footer_header__social_icons {
    display: flex;
    align-items: center;
}

.footer__list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-network-logo {
    width: 5rem;
}

.footer-copyright-info {
    text-align: center;
}

.copyright-text {
    font-size: 1.4rem;
}
