.footer {
    padding: 3.2rem;
    font-size: 1.4rem;
    color: var(--color-card-bg);
}

.footer__logo {
    width: 20rem;
    height: auto;
}

.footer__text {
    display: flex;
    flex-direction: column;
}

.footer__text-icon {
    width: 3rem;
}

.footer__item {
    margin-bottom: 1.6rem;
    display: inline-block;
}

.social-network-logo {
    width: 3rem;
}
