:root {
    /* Colors */
    /* Background Colors */
    /* --color-main-background: #ece5f5; */
    /* --color-main-background: #9b7bbf; */
    --color-header-bg: rgba(249, 248, 252, 0.7);
    --color-section-bg: #f2b4b4;
    --color-card-bg: #f4f3f2;
    --color-footer-bg: #9b59b6;

    /* Text Colors */
    --color-text: #4a3f70;
    --color-light-text: #ece5f5;
    --color-highlight: #8e44ad;

    /* Gradients */
    --main-background-gradient: linear-gradient(
        to bottom,
        #4a206f,
        #542778,
        #5d2f80,
        #673689,
        #713e92,
        #713e92,
        #713e92,
        #713e92,
        #673689,
        #5d2f80,
        #542778,
        #4a206f
    );
    --color-gradient-start: #f2e7f2;
    --color-gradient-end: #b68cb8;
    --btn-gradient: linear-gradient(
        90deg,
        hsla(279, 83%, 70%, 1) 0%,
        hsla(321, 90%, 70%, 1) 100%
    );

    /* Fonts */
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}

/* Settings Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-weight: 400;
    color: var(--color-light-text);
}

.backgroud-gradient-container {
    background-image: var(--main-background-gradient);
}

h1,
h2,
h3 {
    font-family: var(--font-primary);
}

p {
    font-family: var(--font-secondary);
}

.section-padding {
    padding: 6.4rem 0;
    text-align: center;
}

/* Reusable Classes */

button {
    padding: 1.2rem 2.4rem;
    border: none;
    cursor: pointer;
    font-family: var(--font-secondary);
    font-size: 1.8rem;
    border-radius: 2rem 0 1.5rem 0;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.heading-secondary {
    font-size: 3rem;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
}

.subheading {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--main-orange-shade);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

/*Grid System */

.container {
    max-width: 140rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    row-gap: 9.6rem;
    gap: 6.4rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}
.grid--7-cols {
    grid-template-columns: repeat(7, 1fr);
}

.grid--center-v {
    align-items: center;
}

.footer-grid {
    grid-template-columns: 30% 60%;
}

.span-all {
    grid-column: span 2;
}

.moon-information-section__component__information__content__title {
    font-size: 2rem;
}
