:root {
    /* Colors */
    --color-main-background: #eec9cc;
    --color-header-bg: #b68cb8;
    --color-section-bg: #f2b4b4;
    --color-card-bg: #ffffff;
    --color-footer-bg: #9b59b6;
    --color-text: #141414;
    --color-highlight: #8e44ad;
    --color-gradient-start: #f2e7f2;
    --color-gradient-end: #b68cb8;

    /* Fonts */
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    line-height: 1;
    font-weight: 400;
    color: var(--color-text);
    background: var(--color-main-background);
}

h1,
h2,
h3 {
    font-family: var(--font-primary);
}

p {
    font-family: var(--font-secondary);
}
