/* HEADER */
header {
    background-color: var(--color-header-bg);
    width: 100%;
    max-width: 193rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    height: 7.4rem;
    padding: 0 4.8rem;
    z-index: 1000;
}

.logo {
    height: 5.2rem;
}

.header__left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.header__left-side__text {
    font-size: 2rem;
    font-weight: 700;
    color: #4a3f70;
}

.sticky {
    position: fixed;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
