/* HERO SECTION */

.hero-section {
    max-width: 193rem;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    background: url(../img/hero-img-2.jpeg) no-repeat center center;
    background-size: cover;
    /* margin-top: 10rem; */
}

.hero__content {
    margin-top: 20rem;
    text-align: left;
    color: #f7f7fc;
}

.hero__heading-primary {
    margin: 4.8rem 6rem;
    font-size: 4.4rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.hero__text {
    width: 50%;
    padding: 3.2rem 6.4rem;
    font-size: 2rem;
}

.hero__buttons {
    display: flex;
    justify-content: flex-start;
    margin-left: 14rem;
    padding: 4.8rem 6.4rem;
}

.hero__button {
    background: var(--color-highlight);
    color: var(--color-card-bg);
    transition: all 0.8s;
    border: 3px solid var(--color-footer-bg);
}

.hero__button:hover {
    background: var(--color-footer-bg);
    border: 2px solid var(--color-highlight);
    background-image: var(--btn-gradient);
}
