.moon-information-section {
    padding: 9.6rem 0;
    text-align: center;
    /* background-image: linear-gradient(
        to right bottom,
        #4a206f,
        #461e6a,
        #431d65,
        #3f1b60,
        #3c1a5b
    ); 
     background-image: linear-gradient(
        to bottom,
        #8a3d69,
        #7e336a,
        #702b6b,
        #5f246d,
        #4a206f
    );
    */

    /* Применяем маску для плавного перехода */
    /* mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.85) 10%,
        rgba(0, 0, 0, 0.85) 90%,
        rgba(0, 0, 0, 0)

    );
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.85) 10%,
        rgba(0, 0, 0, 0.85) 90%,
        rgba(0, 0, 0, 0)
    ); */
}
.moon-information-section__text__description {
    font-size: 1.6rem;
    line-height: 1.4;
    color: var(--color-text);
    margin: 2.4rem 0;
}

.moon-information-section__component__picture__img {
    width: 25%;
    height: auto;
}
