.moon-information-section__text__description {
    font-size: 1.6rem;
    line-height: 1.4;
    color: var(--color-light-text);
    margin: 2.4rem 0;
}
.moon-information-section__component__picture {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.moon-information-section__component__picture__img {
    width: auto;
    max-width: 100%;

    max-width: 100%;
    max-height: 25rem;
    height: auto;
    object-fit: contain;
}

.moon-information-section__component {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.4rem;
    flex-wrap: wrap;
    margin-top: 4.8rem;
    color: var(--color-light-text);
}

.moon-information-section__component .grid {
    gap: 4.8rem;
}

.moon-information-section__component__information {
    grid-template-columns: repeat(2, minmax(35rem, 1fr));
}

.moon-information-section__component__information__content {
    min-width: 35rem;
    padding: 2rem;
    border-radius: 2rem 0 1.5rem 0;
    background-color: rgba(244, 243, 242, 0.3);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.moon-information-section__component__information__content__title {
    font-weight: bold;
}

.moon-information-section__component__information__content p {
    font-size: 2rem;
}
