.prices-section {
    padding: 3.2rem 0;
    background-color: var(--color-main-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.prices-section__heading {
    text-align: center;
}

.prices__button {
    display: block;
    margin: 0 auto;
}

.prices-grid {
    border: 3px solid var(--color-footer-bg);
    width: 50%;
}

.prices-card {
    padding: 2rem;
    border-radius: 2rem 0 1.5rem 0;
    background-color: var(--color-card-bg);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    margin-bottom: 3.2rem;
    transition: all 0.3s ease-in-out;
}
