.prices-section {
    padding: 3.2rem 0;
    background-color: var(--color-main-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3.2rem;
}
.prices-section__heading {
    text-align: center;
}

.prices__button {
    display: block;
    margin: 0 auto;
}

.prices-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(25rem, 1fr));
    gap: 3.2rem;
    /* border: 3px solid var(--color-footer-bg); */
    max-width: 110rem;
    margin: 0 auto;
    padding: 3.2rem;
}

.prices-card {
    min-width: 40rem;
    padding: 2rem;
    border-radius: 2rem 0 1.5rem 0;
    background-color: var(--color-card-bg);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

.prices-card__title {
    font-size: 2rem;
    color: var(--color-text);
    font-weight: 600;
}

.prices-card__text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--color-text);
}

.prices-explanation-card {
    grid-column: span 2;
}

.prices__text {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6;
}
