.prices-section {
    background-color: var(--color-main-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3.2rem;
}
.prices-section__heading {
    text-align: center;
}

.prices__button {
    display: block;
    margin: 0 auto;
    margin-top: 3.2rem;

    background: var(--color-highlight);
    color: var(--color-card-bg);
    transition: all 0.8s;
    border: 3px solid var(--color-footer-bg);
}

.prices__button:hover {
    background: var(--color-footer-bg);
    border: 2px solid var(--color-highlight);
    background-image: var(--btn-gradient);
}

/* When not visible */
.prices-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(25rem, 1fr));
    gap: 3.2rem;
    max-width: 110rem;
    margin: 0 auto;
    padding: 0 3.2rem;

    height: 0;
    overflow: hidden;
    transition: height 1s ease-in-out, opacity 0.75s ease;
    opacity: 0;
}

/* When visible */
.prices-grid.visible {
    opacity: 1;
}

.prices-card {
    min-width: 40rem;
    padding: 2rem;
    border-radius: 2rem 0 1.5rem 0;
    background-color: var(--color-card-bg);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

.prices-card__title {
    font-size: 2rem;
    color: var(--color-text);
    font-weight: 600;
}

.prices-card__text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--color-text);
}

.prices-explanation-card {
    grid-column: span 2;
}

.prices__text {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6;
}
