/* Mobile First Styles */

/* 
Small Devices (Tablets, 600px and up):
This breakpoint targets tablets and small screens.

Medium Devices (Tablets in landscape, 768px and up):
This breakpoint targets tablets in landscape mode and smaller laptops.

Large Devices (Laptops, 992px and up):
This breakpoint targets larger laptops and desktops.

Extra Large Devices (Large Desktops, 1200px and up):
This breakpoint targets large desktop monitors. */

/* HERO SECTION */

/* Small devices (600px and up) */
@media (min-width: 600px) {
    .hero {
        /* Styles for tablets */
        max-width: 48rem;
        flex-direction: row; /* Example: change from column to row */
        justify-content: space-between;
    }

    .hero__text-container {
        justify-content: space-between;
        align-items: center;
    }

    .hero__heading-primary {
        margin-bottom: 5rem;
    }

    .hero__img-box {
        overflow: hidden;
    }

    .hero__img {
        width: 50%; /* Adjust image size for larger screens */
        height: auto;
        object-fit: cover;
        border-radius: 20px 0 20px 0;
    }
}
