/* Services Section */

.services-section {
    padding: 9.6rem 0;
    text-align: center;
}

.services__sliding-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    overflow: hidden;
}

.services__sliding-area__content__card {
    width: 50rem;
    height: 50rem;
    overflow: hidden;
}

.services__sliding-area__content__card__text {
    background-color: darksalmon;
}

.services__sliding-area__content__card__img {
    z-index: -1;
}
