/* Services Section */

.services-section {
    padding: 9.6rem 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(
        100deg,
        rgb(236, 213, 213) 0%,
        rgb(50, 112, 118) 100%
    );
}

.gallery {
    width: 100%;
}
.gallery-container {
    display: flex;
    align-items: center;
    height: 40rem;
    margin: 0 auto;
    max-width: 100rem;
    position: relative;
}

.gallery-item {
    height: 20rem;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 33rem;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.gallery-item-1 {
    left: 15%;
    opacity: 0.4;
    transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
    height: 25rem;
    opacity: 0.8;
    width: 38rem;
    z-index: 1;
}

.gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 30rem;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 43rem;
    z-index: 2;
}

.gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5 {
    left: 85%;
    opacity: 0.4;
    transform: translateX(-50%);
}

.gallery-controls {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem 0;
    height: 10rem;
}

.gallery-controls-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 3rem;
    margin: 0 5rem;
    padding: 0 1.2rem;
    text-transform: capitalize;
}

.gallery-controls-button:focus {
    outline: none;
}

.gallery-controls-previous {
    position: relative;
}

.gallery-controls-previous::before {
    border: solid #000;
    border-width: 0 0.5rem 0.5rem 0;
    content: '';
    display: inline-block;
    height: 0.5rem;
    left: 0.3rem;
    padding: 1rem;
    position: absolute;
    top: 25;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 0.5rem;
}

.gallery-controls-previous:hover::before {
    left: -4rem;
}

.gallery-controls-next {
    position: relative;
}

.gallery-controls-next::before {
    border: solid #000;
    border-width: 0 0.5rem 0.5rem 0;
    content: '';
    display: inline-block;
    height: 0.5rem;
    padding: 1rem;
    position: absolute;
    right: -3rem;
    top: 45;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 0.5rem;
}

.gallery-controls-next:hover::before {
    right: -4rem;
}

.gallery-nav {
    bottom: -1.5rem;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery-nav li {
    background: #fff;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    margin: 0 1.6rem;
}

.galery-nav li .galery-nav-selected {
    background: #555;
}
