@import url(./general.css);

@import url(./header-styles.css);
@import url(./navigation-menu-styles.css);
@import url(./hero-section-styles.css);
@import url(./about-me-section-styles.css);
@import url(./services-section-styles.css);
@import url(./footer-section-styles.css);

@import url(./queries.css);
