/* HEADER */
header {
    background-color: var(--color-header-bg);
    width: 100%;
    max-width: 193rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    height: 9.6rem;
    padding: 0 4.8rem;
    z-index: 1000;
}

.logo {
    height: 5.2rem;
}

.header__left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.header__left-side__text {
    font-size: 2rem;
    font-weight: 700;
    color: #4a3f70;
}

.sticky {
    position: fixed;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

/* NAV MENU */

.main-nav {
    display: flex;
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    backdrop-filter: none;
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.main-nav__list__link {
    font-size: 1rem;
    color: var(--color-text);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    position: relative; /* Added for proper positioning of the pseudo-element */
    display: inline-block; /* Ensures the link is only as wide as its content */
}

.main-nav__list__link:link,
.main-nav__list__link:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0.5rem 1.3rem;
    text-transform: uppercase;
    position: relative; /* Added for proper positioning of the pseudo-element */
}

.main-nav__list__link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-image: var(--btn-gradient);
    transition: width 0.75s ease;
}

.main-nav__list__link:hover,
.main-nav__list__link:active {
    color: transparent;
    background: var(--btn-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-nav__list__link:hover::after,
.main-nav__list__link:active::after {
    width: 100%;
}

/* MOBILE NAV */

.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav {
    height: 3.2rem;
    width: 3.2rem;
    color: var(--color-text);
}

.icon-mobile-nav[name='close'] {
    display: none;
}

/* HERO SECTION */

.hero-section {
    max-width: 193rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    background: url(../img/hero-img-2.jpeg) no-repeat center center;
    background-size: cover;
    margin-top: 10rem;
}

.hero__content {
    text-align: left;
    color: var(--color-card-bg);
}

.hero__heading-primary {
    margin: 4.8rem 6rem;
    font-size: 4.4rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.hero__text {
    width: 50%;
    padding: 3.2rem 6.4rem;
    font-size: 2rem;
}

.hero__buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 4.8rem 6.4rem;
}

.hero__button {
    background: var(--color-highlight);
    color: var(--color-card-bg);
    transition: all 0.75s;
    border: 3px solid var(--color-footer-bg);
}

.hero__button:hover {
    background: var(--color-footer-bg);
    border: 2px solid var(--color-highlight);
    background-image: var(--btn-gradient);
}

/* About Me Section */
.about-me-section {
    padding: 9.6rem 0;
}

.about-me-card {
    width: 100%;
    color: var(--color-text);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
}

.about-me-card__img {
    width: 100%;
    top: 500px;
}

.about-me-card__content {
    background-color: var(--color-card-bg);
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.about-me-card__title {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.about-me-card__text {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.6;
}

.about-me-img {
    position: relative;
    width: 75%;
    height: 75%;
}

.about-me-img__arrow {
    width: 100%;
    height: 100%;
}

.about-me-img__arrow-first {
    position: absolute;
    top: 80%;
    left: 43%;
    transform: translate(-50%, -50%);
}

.about-me-img__arrow-second {
    position: absolute;
    top: 80%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.about-me-img__arrow-third {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 150%;
    z-index: 1;
}

.about-me-img__logo {
    height: 15rem;
    position: absolute;
    z-index: 2;
    left: 80%;
    top: 25%;
}

/* Services Section */

.services__card {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.services__card__icon {
    width: 80px;
    height: auto;
}

.services__card__heading {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
}

.services__card__text {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5.6rem;

    /* truncation */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3; /* Show only 3 lines */
    -webkit-box-orient: vertical;
    max-height: 4.5em; /* Approximately 3 lines */
}

.services__card_button {
    /* background: var(--color-highlight);
    color: var(--color-card-bg);
    border: 3px solid var(--color-footer-bg);
    transition: all 0.75s;
     background: linear-gradient(
        to right,
        hsl(340, 35%, 60%),
        hsl(350, 40%, 65%)
    );
    color: #333; /* or a dark color like #333 if you prefer */
    /* transition: all 0.3s ease;
    border: none;
    padding: 10px 20px;
    border-radius: 4px; */
    position: absolute;
    bottom: 0%;
    right: 5%;
    background: linear-gradient(
        90deg,
        hsla(279, 83%, 75%, 1) 0%,
        hsla(321, 90%, 75%, 1) 100%
    );
    color: var(--color-text); /* Using your text color */
    transition: all 0.3s ease;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.services__card_button:hover {
    /* background: var(--color-footer-bg);
    border: 2px solid var(--color-highlight);
    background-image: var(--btn-gradient); */
    background: var(--btn-gradient); /* Your original gradient */
    transform: translateY(-1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: var(--color-footer-bg);
    padding: 3.2rem;
    border-radius: 5px;
    width: 80%;
    height: 60%;
    max-width: 600px;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
    color: #222;
    font-size: 2.4rem;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 4.8rem;
    cursor: pointer;
}

.footer {
    background-color: var(--color-footer-bg);
    padding: 3.2rem;
    /* text-align: center; */
    font-size: 1.4rem;
    color: var(--color-card-bg);
}

.footer__logo {
    width: 20rem;
    height: auto;
}

.footer__text {
    /* margin-bottom: 3.2rem; */
    display: flex;
    flex-direction: column;
}

.footer__text-icon {
    width: 3rem;
}

.footer__item {
    margin-bottom: 1.6rem;
    display: inline-block;
}

.social-network-logo {
    width: 3rem;
}
