@import url(./00-general.css);

@import url(./01-deviding-lines.css);
@import url(./02-header-styles.css);
@import url(./hero-section-styles.css);
@import url(./about-me-section-styles.css);
@import url(./services-section-styles.css);
@import url(./prices-section.css);
@import url(./countdown-section.css);
@import url(./moon-information-section.css);
@import url(./calendar-section.css);
@import url(./footer-section-styles.css);
