/* HEADER */
header {
    background-color: var(--color-header-bg);
    width: 100%;
    max-width: 193rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    height: 7.4rem;
    padding: 0 4.8rem;
    z-index: 1000;
}

.logo {
    height: 5.2rem;
}

.header__left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.header__left-side__text {
    font-size: 2rem;
    font-weight: 700;
    color: #4a3f70;
}

.sticky {
    position: fixed;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

/* NAV MENU */

.main-nav {
    display: flex;
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    backdrop-filter: none;
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.main-nav__list__link {
    font-size: 1rem;
    color: var(--color-text);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    position: relative; /* Added for proper positioning of the pseudo-element */
    display: inline-block; /* Ensures the link is only as wide as its content */
}

.main-nav__list__link:link,
.main-nav__list__link:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0.5rem 1.3rem;
    text-transform: uppercase;
    position: relative; /* Added for proper positioning of the pseudo-element */
}

.main-nav__list__link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-image: var(--btn-gradient);
    transition: width 0.75s ease;
}

.main-nav__list__link:hover,
.main-nav__list__link:active {
    color: transparent;
    background: var(--btn-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-nav__list__link:hover::after,
.main-nav__list__link:active::after {
    width: 100%;
}

/* MOBILE NAV */

.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav {
    height: 3.2rem;
    width: 3.2rem;
    color: var(--color-text);
}

.icon-mobile-nav[name='close'] {
    display: none;
}

/* HERO SECTION */

.hero-section {
    max-width: 193rem;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    background: url(../img/hero-img-2.jpeg) no-repeat center center;
    background-size: cover;
    /* margin-top: 10rem; */
}

.hero__content {
    margin-top: 20rem;
    text-align: left;
    color: #f7f7fc;
}

.hero__heading-primary {
    margin: 4.8rem 6rem;
    font-size: 4.4rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.hero__text {
    width: 50%;
    padding: 3.2rem 6.4rem;
    font-size: 2rem;
}

.hero__buttons {
    display: flex;
    justify-content: flex-start;
    margin-left: 14rem;
    padding: 4.8rem 6.4rem;
}

.hero__button {
    background: var(--color-highlight);
    color: var(--color-card-bg);
    transition: all 0.8s;
    border: 3px solid var(--color-footer-bg);
}

.hero__button:hover {
    background: var(--color-footer-bg);
    border: 2px solid var(--color-highlight);
    background-image: var(--btn-gradient);
}

/* About Me Section */
.about-me-section {
    padding: 9.6rem 0;
    text-align: center;
}

.about-me-section__heading {
    text-align: left;
}

.about-me-card {
    width: 100%;
    color: var(--color-text);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    overflow: hidden;
}

.about-me-card__img {
    width: 100%;
    top: 500px;
}

.about-me-card__content {
    background-color: var(--color-card-bg);
    padding: 2.4rem 3.6rem 3.6rem 3.6rem;
}

.about-me-card__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.about-me-card__text {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.6;
}

.about-me-img {
    position: relative;
    width: 75%;
    height: 75%;
}

.about-me-img__arrow {
    width: 100%;
    height: 100%;
}

.about-me-img__arrow-first {
    position: absolute;
    top: 80%;
    left: 43%;
    transform: translate(-50%, -50%);
}

.about-me-img__arrow-second {
    position: absolute;
    top: 80%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.about-me-img__arrow-third {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 150%;
    z-index: 1;
}

.about-me-img__logo {
    height: 15rem;
    position: absolute;
    z-index: 2;
    left: 80%;
    top: 25%;
}

/* Services Section */

.services-section {
    padding: 9.6rem 0;
    text-align: center;
}

.services__sliding-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    overflow: hidden;
}

.services__sliding-area__item {
    width: 40rem;
    height: 50rem;
}

.footer {
    background-color: var(--color-footer-bg);
    padding: 3.2rem;
    /* text-align: center; */
    font-size: 1.4rem;
    color: var(--color-card-bg);
}

.footer__logo {
    width: 20rem;
    height: auto;
}

.footer__text {
    /* margin-bottom: 3.2rem; */
    display: flex;
    flex-direction: column;
}

.footer__text-icon {
    width: 3rem;
}

.footer__item {
    margin-bottom: 1.6rem;
    display: inline-block;
}

.social-network-logo {
    width: 3rem;
}
