@import url(./general.css);

@import url(./deviding-lines.css);
@import url(./header-styles.css);
@import url(./navigation-menu-styles.css);
@import url(./hero-section-styles.css);
@import url(./about-me-section-styles.css);
@import url(./services-section-styles.css);
@import url(./prices-section.css);
@import url(./countdown-section.css);
@import url(./moon-information-section.css);
@import url(./footer-section-styles.css);
@import url(./calendar-section.css);

@import url(./queries.css);
